{% extends 'zzbill.html' %}

{% block content %}
<div>
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="add">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新增支出
            </a>
            <div style="float: right; width: 200px;">
                <form method="get">
                    <div class="input-group">
                        <input type="month" name="time" class="form-control"  value="{{ search_data }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true">
                                </span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                支出列表
            </div>

            <table class="table table-bordered" width="600">
                <thead>
                <tr>
                    <th class="td">时间</th>
                    <td class="td">账户</td>
                    <td class="td">类别</td>
                    <td class="td">金额（元）</td>
                    <td class="td">备注</td>
                    <td class="td">操作(Edit/Delete)</td>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.time_out|date:"Y-m-d" }}</th>
                        <td>{{ obj.get_account_type_out_display }}</td>
                        <td>{{ obj.get_classify_type_out_display }}</td>
<!--                        注意get_display用法-->
                        <td>{{ obj.money_out }}</td>
                        <td>{{ obj.notes_out }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/bill/zzbill/outcome/{{ obj.id }}/edit">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/bill/zzbill/outcome/{{ obj.id }}/delete" >删除</a>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix" style="text-align: center">
        <ul class="pagination" >
            {{ page_string }}
        </ul>

    </div>
</div>

{% endblock %}
